---
title: gallery
layout: tataletak.njk
---
<title>gallery</title>
<div class="wrapper">
    <h1>Gallery KKN ITERA</h1>
    <div class="box">
        <div class="img-area">
        <img src="/assets/images/images1.jpg" alt="" style="width: 450px; height: 250px;">
        <img src="/assets/images/images2.jpg" alt="" style="width: 450px; height: 250px;">
        <img src="/assets/images/images3.jpg" alt="" style="width: 450px; height: 250px;">
        <img src="/assets/images/images4.jpg" alt="" style="width: 450px; height: 250px;">
        <img src="/assets/images/images5.jpg" alt="" style="width: 450px; height: 250px;">
        <img src="/assets/images/images6.jpg" alt="" style="width: 450px; height: 250px;">
        </div>
    </div>
</div>