---
title : Home
layout : tataletak.njk
---
<div class="fakeimg" style="height:200px;">
<h1 style = "color:#aaa;"> Welcome
</h1>
<h4 style = "color:#6e6a66;">tO mY websitE
</h4>
</div>
<h1>Introduce</h1>
<p>
    Perkenalkan, nama saya vicko pratama ibrahim
</p>