---
layout : tataletak.njk
namakamu : Vicko 'tampan' Pratama
---
<h1>
{{namakamu}}
</h1>
<h2>
It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).


</h2>

<div class="row"> 
  <div class="column">
    <img src="/assets/assets/wedding.jpg" style="width:100%">
    <img src="/assets/assets/rocks.jpg" style="width:100%">
    <img src="/assets/assets/falls2.jpg" style="width:100%">
    <img src="/assets/assets/paris.jpg" style="width:100%">
    <img src="/assets/assets/nature.jpg" style="width:100%">
    <img src="/assets/assets/mist.jpg" style="width:100%">
    <img src="/assets/assets/paris.jpg" style="width:100%">
  </div>

  <div class="column">
    <img src="/assets/assets/underwater.jpg" style="width:100%">
    <img src="/assets/assets/ocean.jpg" style="width:100%">
    <img src="/assets/assets/wedding.jpg" style="width:100%">
    <img src="/assets/assets/mountainskies.jpg" style="width:100%">
    <img src="/assets/assets/rocks.jpg" style="width:100%">
    <img src="/assets/assets/underwater.jpg" style="width:100%">
  </div>
<div class="column">
    <img src="/assets/assets/wedding.jpg" style="width:100%">
    <img src="/assets/assets/rocks.jpg" style="width:100%">
    <img src="/assets/assets/falls2.jpg" style="width:100%">
    <img src="/assets/assets/paris.jpg" style="width:100%">
    <img src="/assets/assets/nature.jpg" style="width:100%">
    <img src="/assets/assets/mist.jpg" style="width:100%">
    <img src="/assets/assets/paris.jpg" style="width:100%">
  </div>
</div> 

<h2>
Photography is the art of capturing light with a camera, usually via a digital sensor or film, to create an image. With the right camera equipment, you can even photograph wavelengths of light invisible to the human eye, including UV, infrared, and radio.

The first permanent photograph was captured in 1826 (some sources say 1827) by Joseph Nicéphore Niépce in France. It shows the roof of a building lit by the sun. 
</h2>