<nav>
	<ul>
		<li>
			<div class="capsule">
			<a href="/">Home</a>
			</div>
		</li>
		<li>
			<div class="capsule">
			<a href="/profile/me">Profile</a>
			</div>
		</li>
		<li>
			<div class="capsule">
			<a href="/gallery/photo">Gallery</a>
			</div>
		</li>
	</ul>
</nav>