<html>
    <head>
	<link rel="stylesheet" href="/assets/css/sugar.css">
	<meta name='viewport' content='width=device-width, initial-scale=1'>
    </head>
    <body>
        {%include "navigasi.njk"%}
        <section>
            {{content | safe}}
        </section>
    </body>
</html>