/*	navigasi */
nav ul{
	display: flex;
	list-style: none;
	border-bottom: 1px solid blue;
	padding: 1rem;
	box-shadow: 13px 12px 23px blue;
}
nav li{
	flex: 1;
}

nav li a{
	
	font-family: 'Arial';
	text-decoration: none;
	color: blue;
}

/*	konten */
section{
	margin-left: 25%;
	word-break: break-word;
	padding-top: 2rem;
}

section h1{
	font-family: 'Arial';
	font-size: 32px;
}

section h3{
	font-family: 'Arial';
}

section p{
	font-family: 'Arial';
	color : blue;
}

.container{
    display: flex;
    width: 100%;
    height: auto;
 }
 .container > div{
     background-color: black;
     margin: 8px;
     padding: 50px;
     width: 50px;
     height: 80px;
     text-align: center;
 }